<app-hero mainTitle="نظام غذائي صحي في رمضان"
          imgUrl="assets/imgs/salima.jpeg">
</app-hero>

<div class="container">
    <form action="#" id="pg-donation" class="pg-donation">
        <div class="row">
            <div class="col-lg-6">
                <aside class="pg-donation__personalinfo">
                    <h4 class="pg-dontation__title">معلومات شخصية</h4>

                    <div class="single-input">

                        <label for="pg-donation-name">الاسم*</label>
                        <input type="text" id="pg-donation-name">
                    </div>
                    <div class="single-input">
                        <label for="pg-donation-name">اللقب*</label>
                        <input type="text" id="pg-donation-name">
                    </div>
                    <div class="single-input">
                        <label for="pg-donation-email">البريد الالكتروني*</label>
                        <input type="email" id="pg-donation-email">
                    </div>
                    <div class="single-input">
                        <label for="pg-donation-phone">رقم الهاتف*</label>
                        <input type="number" id="pg-donation-phone">
                    </div>
                    <div class="single-input">
                        <label for="pg-donation-address">العنوان*</label>
                        <input type="text" id="pg-donation-address">

                    </div>
                    <div class="single-input">
                        <label for="pg-donation-address">المبلغ*</label>
                        <input type="text" id="pg-donation-address">

                    </div>


                </aside>
            </div>
        <div class="single-input center-button">
                <button type="submit">تبرع الأن</button>
            </div>
        </div>
    </form>
</div>
