<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" [ngStyle]="{'background-image': 'url(' + imgUrl + ')'}" id="hero">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3 section_header text-white mb-5">{{ mainTitle }}</h1>
        <h4 class="mb-3">{{ subTitle }}</h4>
        <a class="btn btn-outline-light btn-lg" href="{{ actionUrl }}" role="button" *ngIf="action">{{ action }}</a>
      </div>
    </div>
  </div>
</div>
<!-- Hero -->
