<app-hero mainTitle="وصفات رمضان 2024"
          imgUrl="assets/imgs/salima.jpeg">
</app-hero>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="recipe-container">
  <div class="recipe-card" *ngFor="let recipe of recipes">
    <!-- Card content goes here -->
    <mat-card>
      <mat-card-header>
        <!-- Header content -->
      </mat-card-header>
      <img mat-card-image class="recipe-image" [src]="recipe.imageUrl" alt="Recipe Image">
      <mat-card-content>
        <h2 class="mat-card-title">{{ recipe.titre }}</h2>
        <h3 class="mat-card-subtitle">{{ recipe.description }}</h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="viewIngredients(recipe)">View Ingredients</button>
        <ul class="social-actions horizontal">
          <a id="like"  class="like no-gradient" (click)="incrementLikes()">
            <i class="fas fa-thumbs-up fa-lg"></i>
            <span id="likes-count" class="likes-count">{{ likesCount }}</span>
          </a>
          <a [routerLink]="'/register'" download (click)="startDownload()" title="Download"><i class="fas fa-download fa-lg"></i></a>



         </ul>

        <!-- Other actions/buttons if needed -->
      </mat-card-actions>

    </mat-card>
  </div>
</div>
