<div class="container py-5" id="meals_wrapper">
  <div class="row">
    <div class="col-12">
      <h2 class="section_header mb-5">إقتراحات للوجبات</h2>
    </div>
  </div>

  <div class="row">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let meal of meals; let i = index">
        <div class="slide">
          <img
            src="{{ meal.image }}"
            alt="{{ meal.title }}"
            class="img-thumbnail"
          />
          <div class="hover_content p-4">
            <h5><span class="category text-sm">{{ meal.category }}</span> | {{ meal.title }}</h5>
            <p class="text-white">{{ meal.description }}</p>
            <div class="mt-3">
              <a routerLink="/" class="btn btn-outline-warning btn-sm">
                <span class="mx-2">اقرأ المزيد</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-left-short"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
