<div class="container py-5" id="health_wrapper">
  <div class="row">
    <div class="col-12">
      <h2 class="section_header mb-5">صحتي</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 py-4">
      <p class="fw-bold">
        خلال شهر رمضان المبارك، يقوم المسلمون البالغون والذين يتمتّعون بصحة جيدة
        بالصوم يوميّاً منذ شروق الشمس وحتى غروبها. وبحسب التقاليد، عند حلول
        المغرب ينتهي الصيام بوجبة الإفطار، ثم تتبعها وجبة أخرى قبل الفجر تُسمّى
        السحور.وقد ثَبُت أنّ للصيام منافع عديدة على الصحة.
      </p>
      <p>
        من خلال اتباع النصائح البسيطة التالية، ستتمكن من فقدان الوزن وخفض مستوى
        ضغط الدم والكوليسترول. ولكن من جهة أخرى، يُسبّب الإفراط في تناول الطعام
        عند الإفطار والسحور بزيادة الوزن. وغالباً ما يُعتبر شهر رمضان الكريم
        مدّة مخصصّة لممارسة الانضباط والتضحية والتعاطف مع من هم أقلّ حظاً،
        ويُشجَّع الحفاظ على هذه القيم خارج ساعات الصيام أيضاً.
      </p>
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col-xl-4 col-md-5 mb-3 my-md-0">
      <img
        src="assets/imgs/food1.jpg"
        alt="food1"
        class="img-thumbnail img-thumbnail w-100 img-fluid"
      />
    </div>
    <div class="col-xl-8 col-md-7">
      <h2>
        إشرب كميات كافية من الماء وتناول الأطعمة الغنيّة بالسوائل المرطّبة خلال
        شهر رمضان
      </h2>
      <p>
        إشرب كميّات كبيرة من الماء في الفترة الممتدّة بين الإفطار والسحور. وبما
        أنّ درجة الحرارة المرتفعة تسبّب المزيد من التعرّق، من المهمّ شرب السوائل
        للتعويض عمّا يخسره الجسم من سوائل خلال اليوم (10 أكواب على الأقل). كما
        ويمكنك زيادة كمية المياه التي تتناولها من خلال تناول الأطعمة الغنية
        بالسوائل، حاول مثلاً أن تضيف البطيخ إلى وجبة السحور أو تناوله كتحلية بعد
        الإفطار، أو تناول السلطة العربية التقليدية، الفتوش، التي تحتوي على
        الخيار والبندورة وهي خضروات غنيّة بالسوائل. تجنّب تناول المشروبات التي
        تحتوي على الكافيين مثل القهوة والشاي والكولا لأن الكافيين يدرّ البول
        أكثر لدى بعض الأشخاص، ما يؤدي إلى جفاف الجسم. وتذكر أيضاً أنّ المشروبات
        الغازية التي تحتوي على السكر تزيد من السعرات الحرارية التي تتناولها.
      </p>
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col-xl-8 col-md-7">
      <h2>تناول الأطعمة المناسبة عند السحور لتمنحك الطاقة خلال ساعات الصيام</h2>
      <p>
        يجب أن تكون وجبة السحور متكاملة وتمنحك الطاقة الكافية لتتابع يومك إلى أن
        يحين وقت الإفطار. لذا عليك اختيار الأطعمة المناسبة التي تساعدك على
        اجتياز الصيام، مثل الأطعمة الغنية بالكربوهيدرات المعقدة كالفاكهة
        والخضروات، والحبوب، والحمص والعدس التي تشكّل مصدراً مهمّاً للطاقة
        الدائمة خلال اليوم. تناول مشتقات الحليب قليلة الدسم مثل اللبنة واللبن
        وحاول إضافة الدهون الصحية غير المشبّعة إلى وجباتك مثل الأفوكادو،
        والمكسّرات غير المملّحة، والسلمون، والزيتون وزيت الزيتون.
      </p>
    </div>
    <div class="col-xl-4 col-md-5 mb-3 my-md-0">
      <img
        src="assets/imgs/food1.jpg"
        alt="food1"
        class="img-thumbnail w-100 img-fluid"
      />
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xl-4 col-md-5">
      <img
        src="assets/imgs/food1.jpg"
        alt="food1"
        class="img-thumbnail w-100 img-fluid"
      />
    </div>
    <div class="col-xl-8 col-md-7 mb-3 my-md-0">
      <h2>تزوّد بالطاقة من خلال تناول وجبة إفطار متوازنة وصحية</h2>
      <p>
        يُعتبر تناول ثلاث ثمار تمر بعد الصيام طريقة تقليدية وصحية لبدء الإفطار،
        لأن التمر مصدرٌ مهمّ للألياف. كما وعليك تناول كمية كبيرة من الخضروات،
        لتحصل على الفيتامينات والمغذيات، واختيار الحبوب الكاملة التي تمدّ جسمك
        بالطاقة والألياف اللازمة. إستمتع بتناول اللحم القليل الدهن المشوي أو
        المطهوّ في الفرن، أو الدجاج المنزوع الجلد والسمك لتحصل على مصدر صحيّ
        للبروتين. وبشكل عام، عليك تجنّب الأطعمة المقلية والمصنّعة لأنها تحتوي
        على الكثير من الدهون والسكريات. واستمتع بوجبتك وتجنب الإفراط في تناول
        الطعام من خلال الأكل ببطء.
      </p>
    </div>
  </div>
</div>
