<app-hero mainTitle="امساكية شهر رمضان تونس" subTitle="1445هـ - 2024م" imgUrl="https://static.vecteezy.com/system/resources/previews/008/964/651/original/ramadan-mubarak-banner-template-free-vector.jpg"></app-hero>
<div class="container">
  <div class="row pt-5 align-items-center">
    <div class="col-md-12 d-flex align-items-center justify-content-end">
      <a
        rel="follow"
        class="btn btn-primary me-2"
        href="https://dirarab.net/uploads/ramadan/2024/images/Tunisia_Tunis_1445-9.jpg"
        ><i uk-icon="image" class="uk-icon"
          ><svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="16.1" cy="6.1" r="1.1"></circle>
            <rect
              fill="none"
              stroke="#000"
              x=".5"
              y="2.5"
              width="19"
              height="15"
            ></rect>
            <polyline
              fill="none"
              stroke="#000"
              stroke-width="1.01"
              points="4,13 8,9 13,14"
            ></polyline>
            <polyline
              fill="none"
              stroke="#000"
              stroke-width="1.01"
              points="11,12 12.5,10.5 16,14"
            ></polyline>
          </svg>
        </i>
        تنزيل كصورة</a
      >
      <a
        rel="follow"
        class="btn btn-outline-primary"
        href="https://dirarab.net/uploads/ramadan/2024/pdf/Tunisia_Tunis_1445-9.pdf"
        ><i uk-icon="file-pdf" class="uk-icon"
          ><svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              fill="none"
              stroke="#000"
              width="13"
              height="17"
              x="3.5"
              y="1.5"
            ></rect>
            <path
              d="M14.65 11.67c-.48.3-1.37-.19-1.79-.37a4.65 4.65 0 0 1 1.49.06c.35.1.36.28.3.31zm-6.3.06l.43-.79a14.7 14.7 0 0 0 .75-1.64 5.48 5.48 0 0 0 1.25 1.55l.2.15a16.36 16.36 0 0 0-2.63.73zM9.5 5.32c.2 0 .32.5.32.97a1.99 1.99 0 0 1-.23 1.04 5.05 5.05 0 0 1-.17-1.3s0-.71.08-.71zm-3.9 9a4.35 4.35 0 0 1 1.21-1.46l.24-.22a4.35 4.35 0 0 1-1.46 1.68zm9.23-3.3a2.05 2.05 0 0 0-1.32-.3 11.07 11.07 0 0 0-1.58.11 4.09 4.09 0 0 1-.74-.5 5.39 5.39 0 0 1-1.32-2.06 10.37 10.37 0 0 0 .28-2.62 1.83 1.83 0 0 0-.07-.25.57.57 0 0 0-.52-.4H9.4a.59.59 0 0 0-.6.38 6.95 6.95 0 0 0 .37 3.14c-.26.63-1 2.12-1 2.12-.3.58-.57 1.08-.82 1.5l-.8.44A3.11 3.11 0 0 0 5 14.16a.39.39 0 0 0 .15.42l.24.13c1.15.56 2.28-1.74 2.66-2.42a23.1 23.1 0 0 1 3.59-.85 4.56 4.56 0 0 0 2.91.8.5.5 0 0 0 .3-.21 1.1 1.1 0 0 0 .12-.75.84.84 0 0 0-.14-.25z"
            ></path>
          </svg>
        </i>
        تنزيل كملف PDF</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12 py-4">
      <div class="table-responsive">
        <table class="table table-bordered table-hover" id="imsakiya_table">
          <thead>
            <tr>
              <th>يوم</th>
              <th class="uk-text-bold">الهجري</th>
              <th>الميلادي</th>
              <th>الامساك</th>
              <th>الفجر</th>
              <th>الشروق</th>
              <th>الظهر</th>
              <th>العصر</th>
              <th>المغرب</th>
              <th>العشاء</th>
            </tr>
          </thead>
          <tbody>
            <tr id="pray-1" class="uk-text-bold">
              <td>الاحد</td>
              <td>1</td>
              <td>10 مارس</td>
              <td>5:01</td>
              <td>5:11</td>
              <td>6:37</td>
              <td>12:29</td>
              <td>3:49</td>
              <td>6:22</td>
              <td>7:43</td>
            </tr>
            <tr id="pray-2" class="uk-text-bold">
              <td>الاثنين</td>
              <td>2</td>
              <td>11</td>
              <td>4:59</td>
              <td>5:09</td>
              <td>6:35</td>
              <td>12:29</td>
              <td>3:50</td>
              <td>6:23</td>
              <td>7:44</td>
            </tr>
            <tr id="pray-3" class="uk-text-bold">
              <td>الثلاثاء</td>
              <td>3</td>
              <td>12</td>
              <td>4:58</td>
              <td>5:08</td>
              <td>6:34</td>
              <td>12:29</td>
              <td>3:50</td>
              <td>6:24</td>
              <td>7:45</td>
            </tr>
            <tr id="pray-4" class="uk-text-bold">
              <td>الاربعاء</td>
              <td>4</td>
              <td>13</td>
              <td>4:56</td>
              <td>5:06</td>
              <td>6:33</td>
              <td>12:28</td>
              <td>3:51</td>
              <td>6:25</td>
              <td>7:46</td>
            </tr>
            <tr id="pray-5" class="uk-text-bold">
              <td>الخميس</td>
              <td>5</td>
              <td>14</td>
              <td>4:55</td>
              <td>5:05</td>
              <td>6:31</td>
              <td>12:28</td>
              <td>3:51</td>
              <td>6:26</td>
              <td>7:47</td>
            </tr>
            <tr id="pray-6" class="uk-text-bold">
              <td>الجمعة</td>
              <td>6</td>
              <td>15</td>
              <td>4:53</td>
              <td>5:03</td>
              <td>6:30</td>
              <td>12:28</td>
              <td>3:51</td>
              <td>6:27</td>
              <td>7:48</td>
            </tr>
            <tr id="pray-7" class="uk-text-bold">
              <td>السبت</td>
              <td>7</td>
              <td>16</td>
              <td>4:52</td>
              <td>5:02</td>
              <td>6:28</td>
              <td>12:28</td>
              <td>3:52</td>
              <td>6:28</td>
              <td>7:49</td>
            </tr>
            <tr id="pray-8" class="uk-text-bold">
              <td>الاحد</td>
              <td>8</td>
              <td>17</td>
              <td>4:50</td>
              <td>5:00</td>
              <td>6:27</td>
              <td>12:27</td>
              <td>3:52</td>
              <td>6:29</td>
              <td>7:50</td>
            </tr>
            <tr id="pray-9" class="uk-text-bold">
              <td>الاثنين</td>
              <td>9</td>
              <td>18</td>
              <td>4:49</td>
              <td>4:59</td>
              <td>6:25</td>
              <td>12:27</td>
              <td>3:53</td>
              <td>6:29</td>
              <td>7:51</td>
            </tr>
            <tr id="pray-10" class="uk-text-bold">
              <td>الثلاثاء</td>
              <td>10</td>
              <td>19</td>
              <td>4:47</td>
              <td>4:57</td>
              <td>6:24</td>
              <td>12:27</td>
              <td>3:53</td>
              <td>6:30</td>
              <td>7:52</td>
            </tr>
            <tr id="pray-11" class="uk-text-bold">
              <td>الاربعاء</td>
              <td>11</td>
              <td>20</td>
              <td>4:46</td>
              <td>4:56</td>
              <td>6:22</td>
              <td>12:26</td>
              <td>3:53</td>
              <td>6:31</td>
              <td>7:53</td>
            </tr>
            <tr id="pray-12" class="uk-text-bold">
              <td>الخميس</td>
              <td>12</td>
              <td>21</td>
              <td>4:44</td>
              <td>4:54</td>
              <td>6:21</td>
              <td>12:26</td>
              <td>3:54</td>
              <td>6:32</td>
              <td>7:54</td>
            </tr>
            <tr id="pray-13" class="uk-text-bold">
              <td>الجمعة</td>
              <td>13</td>
              <td>22</td>
              <td>4:42</td>
              <td>4:52</td>
              <td>6:19</td>
              <td>12:26</td>
              <td>3:54</td>
              <td>6:33</td>
              <td>7:55</td>
            </tr>
            <tr id="pray-14" class="uk-text-bold">
              <td>السبت</td>
              <td>14</td>
              <td>23</td>
              <td>4:41</td>
              <td>4:51</td>
              <td>6:18</td>
              <td>12:26</td>
              <td>3:54</td>
              <td>6:34</td>
              <td>7:56</td>
            </tr>
            <tr id="pray-15" class="uk-text-bold">
              <td>الاحد</td>
              <td>15</td>
              <td>24</td>
              <td>4:39</td>
              <td>4:49</td>
              <td>6:16</td>
              <td>12:25</td>
              <td>3:55</td>
              <td>6:35</td>
              <td>7:57</td>
            </tr>
            <tr id="pray-16" class="uk-text-bold">
              <td>الاثنين</td>
              <td>16</td>
              <td>25</td>
              <td>4:38</td>
              <td>4:48</td>
              <td>6:15</td>
              <td>12:25</td>
              <td>3:55</td>
              <td>6:36</td>
              <td>7:58</td>
            </tr>
            <tr id="pray-17" class="uk-text-bold">
              <td>الثلاثاء</td>
              <td>17</td>
              <td>26</td>
              <td>4:36</td>
              <td>4:46</td>
              <td>6:13</td>
              <td>12:25</td>
              <td>3:55</td>
              <td>6:37</td>
              <td>7:59</td>
            </tr>
            <tr id="pray-18" class="uk-text-bold">
              <td>الاربعاء</td>
              <td>18</td>
              <td>27</td>
              <td>4:34</td>
              <td>4:44</td>
              <td>6:12</td>
              <td>12:24</td>
              <td>3:56</td>
              <td>6:37</td>
              <td>8:00</td>
            </tr>
            <tr id="pray-19" class="uk-text-bold">
              <td>الخميس</td>
              <td>19</td>
              <td>28</td>
              <td>4:33</td>
              <td>4:43</td>
              <td>6:10</td>
              <td>12:24</td>
              <td>3:56</td>
              <td>6:38</td>
              <td>8:01</td>
            </tr>
            <tr id="pray-20" class="uk-text-bold">
              <td>الجمعة</td>
              <td>20</td>
              <td>29</td>
              <td>4:31</td>
              <td>4:41</td>
              <td>6:09</td>
              <td>12:24</td>
              <td>3:56</td>
              <td>6:39</td>
              <td>8:02</td>
            </tr>
            <tr id="pray-21" class="uk-text-bold">
              <td>السبت</td>
              <td>21</td>
              <td>30</td>
              <td>4:29</td>
              <td>4:39</td>
              <td>6:07</td>
              <td>12:23</td>
              <td>3:57</td>
              <td>6:40</td>
              <td>8:03</td>
            </tr>
            <tr id="pray-22" class="uk-text-bold">
              <td>الاحد</td>
              <td>22</td>
              <td>31</td>
              <td>4:28</td>
              <td>4:38</td>
              <td>6:06</td>
              <td>12:23</td>
              <td>3:57</td>
              <td>6:41</td>
              <td>8:04</td>
            </tr>
            <tr id="pray-23" class="uk-text-bold">
              <td>الاثنين</td>
              <td>23</td>
              <td>1 أبريل</td>
              <td>4:26</td>
              <td>4:36</td>
              <td>6:05</td>
              <td>12:23</td>
              <td>3:57</td>
              <td>6:42</td>
              <td>8:05</td>
            </tr>
            <tr id="pray-24" class="uk-text-bold">
              <td>الثلاثاء</td>
              <td>24</td>
              <td>2</td>
              <td>4:24</td>
              <td>4:34</td>
              <td>6:03</td>
              <td>12:23</td>
              <td>3:57</td>
              <td>6:43</td>
              <td>8:06</td>
            </tr>
            <tr id="pray-25" class="uk-text-bold">
              <td>الاربعاء</td>
              <td>25</td>
              <td>3</td>
              <td>4:23</td>
              <td>4:33</td>
              <td>6:02</td>
              <td>12:22</td>
              <td>3:58</td>
              <td>6:44</td>
              <td>8:07</td>
            </tr>
            <tr id="pray-26" class="uk-text-bold">
              <td>الخميس</td>
              <td>26</td>
              <td>4</td>
              <td>4:21</td>
              <td>4:31</td>
              <td>6:00</td>
              <td>12:22</td>
              <td>3:58</td>
              <td>6:44</td>
              <td>8:08</td>
            </tr>
            <tr id="pray-27" class="uk-text-bold">
              <td>الجمعة</td>
              <td>27</td>
              <td>5</td>
              <td>4:20</td>
              <td>4:30</td>
              <td>5:59</td>
              <td>12:22</td>
              <td>3:58</td>
              <td>6:45</td>
              <td>8:09</td>
            </tr>
            <tr id="pray-28" class="uk-text-bold">
              <td>السبت</td>
              <td>28</td>
              <td>6</td>
              <td>4:18</td>
              <td>4:28</td>
              <td>5:57</td>
              <td>12:21</td>
              <td>3:58</td>
              <td>6:46</td>
              <td>8:10</td>
            </tr>
            <tr id="pray-29" class="uk-text-bold">
              <td>الاحد</td>
              <td>29</td>
              <td>7</td>
              <td>4:16</td>
              <td>4:26</td>
              <td>5:56</td>
              <td>12:21</td>
              <td>3:59</td>
              <td>6:47</td>
              <td>8:11</td>
            </tr>
            <tr id="pray-30" class="uk-text-bold">
              <td>الاثنين</td>
              <td>30</td>
              <td>8</td>
              <td>4:15</td>
              <td>4:25</td>
              <td>5:54</td>
              <td>12:21</td>
              <td>3:59</td>
              <td>6:48</td>
              <td>8:12</td>
            </tr>
            <br /><br />
          </tbody>
        </table>
      </div>
    </div>
    <div class="uk-text-center" id="download-imsak">
      <p uk-margin=""></p>
    </div>
  </div>
</div>
