<h2>Liste des Utilisateurs</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <!-- Table header -->
    <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Password</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Table body with ngFor loop -->
    <tr *ngFor="let utilisateur of utilisateurs">
      <td>{{ utilisateur.id }}</td>
      <td>{{ utilisateur.name }}</td>
      <td>{{ utilisateur.email }}</td>
      <td>{{ utilisateur.password }}</td>
      <td>{{ utilisateur.role }}</td>
      <!-- Actions column with buttons for delete and edit -->
      <td>
        <button (click)="deleteUser(utilisateur.id)" class="btn btn-danger">
          <i class="fas fa-trash-alt"></i>
        </button>
        <button (click)="updateUtilisateur()" class="btn btn-success" [routerLink]="['edit-utilisateur']">
          <i class="fas fa-edit"></i>
        </button>


      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Button to open add utilisateur modal -->
<button type="button" class="btn btn-primary" (click)="addUtilisateur()" [routerLink]="['add-utilisateur']">
  <i class="fas fa-plus"></i> Ajouter Utilisateur
</button>




