

<h2><span class="mw-headline" id=".D8.B4.D9.87.D8.B1_.D8.B1.D9.85.D8.B6.D8.A7.D9.86"><b>شهر رمضان</b></span></h2>
<p>شهر رمضان هو شهر الخير والبركة والمحبة، كما أنّه شهر الأطباق اللذيذة والمتنوّعة، حيث إنّ طبيعة هذا الشهر تفرض نظاماً
  غذائيّاً معيّناً على كل شخص، وللحفاظ على صحّة الإنسان يجب عليه الالتزام بنصائح الأخصائيين في هذا المجال، وفي هذا
  المقال سنقدّم بعض النصائح لهذا الشهر المبارك.
</p>


<h2><span class="mw-headline"
          id=".D9.86.D8.B5.D8.A7.D8.A6.D8.AD_.D8.B5.D8.AD.D9.8A.D9.91.D8.A9_.D9.81.D9.8A_.D8.B1.D9.85.D8.B6.D8.A7.D9.86"><b>نصائح
            صحيّة في رمضان</b></span></h2>
<ul>
  <li> شرب كميّة مناسبة من الماء بما لا يقل عن ثمانية أكواب في اليوم، مع ضرورة مراعاة شرب الماء على فترات لتفادي شعور
    الشخص بالثقل والانزعاج.</li>
  <li> تناول التمر قبل أي شيء، لأنّه يعمل على سد نقص السكر الذي حصل للجسم أثناء فترة الصيام.</li>
  <li> بدء وجبة الإفطار بطبق من الشوربة؛ حيث إنّ هذا الطبق يمهّد المعدة لاستقبال باقي الطعام والوجبة الرئيسيّة، كما
    أنّه يعوّض السوائل التي خسرها الجسم.</li>
  <script type="text/javascript" id="art_mpu_mobile">
    if (checkScenario("MPU") == "mobile") {
      document.getElementById('art_mpu_mobile').insertAdjacentHTML('beforebegin', '<div id="MPU" style="min-height: 250px; margin-bottom: 20px !important;"></div>');
    }</script>
  <li> الحرص على المشي بعد تناول الإفطار بساعتين على الأقل، حيث يمكن للشخص الذهاب إلى صلاة التراويح مشياً على الأقدام.
  </li>
  <li> الحرص على عدم ترك وجبة السحور على أي حالٍ من الأحوال، وينصح الأخصائيون بضرورة احتواء هذه الوجبة على النشويّات
    بطيئة الامتصاص كخبز القمح الكامل، والأرز ورقاق الفطور، وذلك من أجل الحفاظ على مستوى السكر في الدم لأطول فترةٍ
    ممكنة.</li>
  <li> الحرص على تناول الأغذية التي تحتوي على الفيتامينات والمعادن خلال يوم الصيام كالفواكه والخضار.</li>
  <li> تناول طبق السلطة على وجبة الإفطار.</li>
  <li> تناول الحلويّات ولكن باعتدال، حيث يجب أن يراقب الشخص حصته من هذه الأطباق وتجنّب تناولها قبل النوم مباشرةً.</li>
  <li> تجنّب تناول الأطعمة المملّحة مثل المخللات والمكسرات، والمعلبات وكذلك الأغذية الصناعيّة.</li>
  <li> تقسيم وجبة الطبق الرئيسي إلى ثلاثة أقسام، حيث يحتوي القسم الأول على النشويات بطيئة الامتصاص مثل الأرز، والقسم
    الثاني على اللحوم ويفضل أن تكون قليلة الدهون، والنصف المتبقي يمكن تعبئته بالخضار الصحيّة.</li>
  <li> تناول فنجان القهوة بعد مرور ساعة أو ساعتين من تناول وجبة الإفطار، حيث يجب تجنّب شربها مباشرةً بعد الوجبة مع
    ضرورة الحرص على تقليل كميّة القهوة المشروبة خلال اليوم قدر الإمكان.</li>
  <li> تناول الطعام ببطء قدر الإمكان والحرص على مضغه جيّداً.</li>
  <li> النوم لمدة كافية يوميّاً بما لا يقل عن ست إلى ثماني ساعات.</li>
  <li> تجنّب تناول العصائر الصناعيّة المحلاة والتي تحتوي على كميّة عالية من السكر دون أيّة قيمة غذائية مفيدة.</li>
  <li> الحرص على القيام بأي نشاط حركي قبل وجبة الإفطار بساعة، حيث يخبر الأخصائيّون بأنّ هذه الساعة تسمى الساعة
    الذهبيّة والسبب في ذلك يعود إلى انخفاض كميّة السكر في العضلات، وبالتالي فإنّ أي مجهود يبذله الإنسان يكون عن طريق
    حرق الجسم للدهون الزائدة.</li>
</ul>
<h2><span class="mw-headline"
          id=".D9.86.D8.B5.D8.A7.D8.A6.D8.AD_.D8.B5.D8.AD.D9.8A.D8.A9_.D9.84.D8.B4.D9.87.D8.B1_.D8.B1.D9.85.D8.B6.D8.A7.D9.86"><b>نصائح
            صحية لشهر رمضان</b></span></h2>
<ul>
  <li> ابدأ الإفطار بتناول حبّة أو اثنتين من التمر، يليها كوبٌ من الماء، ثمّ تناول طبقٍ من الشوربة، وإحدى أنواع السلطة
    ويفضّل سلطة الخضار، وأخيراً تناول الطبق الرئيسي.</li>
  <li> تناوَل الأطباق الصحية في رمضان، واحرص على احتواء الطبق الرئيسي على مصادر متوازنة من الكاربوهيدرات كالبطاطس أو
    البرغل، أو الأرز، إلى جانب الأغذية المحتوية على أحد أشكال البروتين كالدجاج، والخضار المطبوخة لتمدّ الجسم
    بالفيتامينات والمعادن.</li>
  <li> اشرب الماء بشكلٍ كبير، مع مراعاة ألّا تقلّ الكمية عن ثمانية أكواب موزّعة طيلة فترة الإفطار، كي لا تشعر
    بالامتلاء.</li>
  <li> تجنّب تناول الأطعمة ذات النكهة الحرّيفة، أو المالحة، مثل: المعلبات، والمخللات، واستبدلها بالخضار والفواكه
    الطازجة قدر الإمكان.</li>
  <li> اخرج بشكلٍ يومي بعد تناول الإفطار بساعتين، لتساعد معدتك على هضم الطعام.</li>
  <li> تناوَل سحوراً يشتمل على أغذيةٍ تحتوي على الكاربوهيدرات بطيئة الامتصاص، كالحبوب الكاملة، والخبز، كي تحافظ على
    مستوياتٍ جيّدة من السكر في الدم.</li>
  <li> تجنَّب تناول الحلويات مباشرةً بعد وجبة الإفطار، لأنّ ذلك يتسبّب في زيادة حجم معدتك، كما يؤخّر عمليّة هضم
    الطعام، إلى جانب حدوث تذبذبٍ في معدل الجلوكوز في الدم، وبالتالي فإنّ ذلك يدفعك إلى اشتهاء تناول كميةٍ إضافيّةٍ
    من الحلويات، لذا فإنّه ينصح بتناول كمّياتٍ معتدلةٍ من الحلويات بعد مرور ساعتين أو ثلاث ساعات على تناول الإفطار.
  </li>
  <li> تناول أطباقاً تحتوي على الحبوب، والخضار المنوّعة، لتجنب حدوث الإمساك، الذي كثيراً ما يصيب الصائمين نتيجةً
    لتغيير روتين تناول الطعام.</li>
  <li> قلّل تناول الأغذية المقليّة؛ لأنّها تحتوي على سعراتٍ حراريةٍ عالية، واستبدلها بالأغذيّة المشويّة.</li>
  <li> لا تفرط في كمّيةٍ الأكل التي تتناولها في وجبة الإفطار، حتّى لا تصاب بالتخمة، ودع مجالاً كي تتناول وجباتٍ خفيفة
    بين الإفطار والسحور، لتسهيل الهضم. </li>
  <li> تجنّب تناول المشروبات المحتوية على نسبةٍ عاليةٍ من مادة الكافيين، لأنّها تزيد إدرار البول، وبالتالي تقلّ كمية
    المياه من الجسم.</li>
</ul>
