<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="slide">
            <img src="assets/imgs/hero.jpg">
        </div>
    </ng-template>
  <ng-template carouselSlide>
      <div class="slide">
          <img src="assets/imgs/9.jpg">
      </div>
  </ng-template>

<ng-template carouselSlide>
    <div class="slide">
        <img src="assets/imgs/ph2.jpg">
    </div>
</ng-template>
  <ng-template carouselSlide>
      <div class="slide">
          <img src="assets/imgs/2.jpg">
      </div>
  </ng-template>
  
 
  <ng-template carouselSlide>
      <div class="slide">
          <img src="assets/imgs/5.jpg">
      </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
        <img src="assets/imgs/gift1.png">
    </div>
</ng-template>
</owl-carousel-o>

